/* ===============================================
공통
=============================================== */
input {
    font-size:12px;
}

a {
    text-decoration: none;
}

p{
    margin:0;
}

body{
    background-color: #eeeeee;
    margin:0;
}

#logo{
    font-size:60px;
    color:#ff7530;
    letter-spacing:-3px;
    text-align: center;
    margin:40px 0px;
}


.text-stroke {
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.white-shadow-box{
    background-color: white;
    box-shadow: 0px 0px 5px 5px #dddddd;
}


div.article-box{
    overflow: auto; width:100%; height:96px;
    border: 1px solid #bbbbbb;
    font-size:12px;
}

p.article-text{
    margin: 5px 15px;
}

.custom-button{
    font-size:20px;
    margin:5px 0;
    padding: 20px 0;
    border:none;
    color:white;
    font-weight:bold;
    border-radius:3px;
}

.bg-orange{
    background-color:#ff7530;
}

.bg-gray{
    background-color:#555555;
}

.long{
    width:100%;
}

.short{
    width:45%;
}

.basic-text{
    font-size:15px;
    color:#555555;
}

.post{
    width:0;
    height:0;
    visibility:hidden;
}

/* ===============================================
로그인페이지
=============================================== */
input.login-input{
    font-size: 15px;
    width:100%;
    border:none;
    border-bottom: 2px solid gray;
    padding: 10px 0;
    margin-bottom:20px;
}

a#join{
    color:#555555;
    font-size:12px;
}

#login-box{
    margin:0 auto;
    width:300px;
    padding:80px 100px;
}


/* ===============================================
회원가입 페이지
=============================================== */
ul#join-elements-list{
    padding:0px;
    list-style:none;
    text-align:left;
}

.padding-bottom{
    padding-bottom:25px;
}

#join-container{
    margin:0 auto;
    width:360px;
    padding:50px 70px;
    text-align:center;
}

.join-label-box{
    margin-bottom:5px;
    margin-top:10px;
}

.padding-bottom-mini{
    padding-bottom:5px;
}

.join-label{
    font-size:15px;
    font-weight:bold;
}

div.join-input-box{
    width:100%;
    height:35px;
    padding: 5px 0;
    border:1px solid #bbbbbb;

    text-align:center;
}

.join-input{
    font-size:15px;
    border:0px;
    height:100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.width-full{
    width:95%;
}
.width-half{
    width:50%;
}

span.required{
    padding-left:5px;
    font-size:12px;
    color:red;
    font-weight:normal;
}

span.optional{
    padding-left:5px;
    font-size:12px;
    color:gray;
    font-weight:normal;
}

p.join-message{
    font-size:13px;
    margin: 5px;
}

/* ===============================================
게시판
=============================================== */
table.board_list{
    margin-top:20px;
    width:100%;
    border-collapse:collapse;
}

table.board_list tr{ font-size: 13px; border-bottom:1px solid gray; text-align: center;}

table.board_list thead{
    background-color:#555555;
    color:white;
}

table.board_list th {height:36px;}
table.board_list td {height:28px;}

table.board_list tbody{
    background-color:none;

}

.board_num{ width:70px;}
.board_cat{width:100px;}
.board_title{}
td.board_title{text-align: left; padding:0 10px;}
.board_author{width:100px;}
.board_date{width:80px;}
.board_views{width:80px;}
.board_recommends{width:80px;}

/* ===============================================
헤더
=============================================== */
header.header{
    width:100%;
    height:50px;
    margin:0;
    background-color:#555555;
}

span#logo-mini{
    font-size:30px;
    letter-spacing:-2px;
    text-align: center;
    font-weight: bold;
    padding-right:30px;
    float:left;
    height:100%;
}

span#logo-mini a{
    color:#ff7530;
    margin: 0px; display: block; width: 100%; height: 100%;
    line-height: 50px;
}

.screen-width{
    width:960px;
    margin:0 auto;
    height:100%;
}

ul.nav{
    list-style:none;
    height:0px;
    width:auto;
    margin:0;
    padding:0;
}

ul.nav > li{
    display:inline-block;
    width:90px;
    height:50px;
    line-height: 50px;
    text-align:center;
    font-weight:bold;
    position:relative;
}

ul.nav > li:hover{
    background-color: #888888;
}

ul.nav-sub{
    list-style:none;
    display:none;
    position:absolute;
    padding:0;
    box-shadow: 0px 0px 2px 2px #777777;
}

ul.nav > li:hover ul.nav-sub{
    display:block;
}

ul.nav-sub > li{
    border-top: 1px solid gray;
    width:90px;
    height:50px;
    line-height: 50px;
    background-color:#555555;
    position:relative;
}

ul.nav-sub > li:hover{
    background-color: #888888;
}

.nav-btn{
    float:right;
    width:90px;
    height:50px;
    line-height: 50px;
    background-color:#555555;
    text-align:center;
    color:#eeeeee;
    font-weight:bold;
    font-size:13px;
    border:0;
    padding:0;
}

.nav-btn:hover{
    background-color: #888888;
}

.nav-msg{
    float:right;
    height:50px;
    line-height: 50px;
    text-align:right;
    color:#eeeeee;
    font-size:13px;
    border:0;
    padding:0;
}

li a{
    margin: 0px; display: block; width: 100%; height: 100%;
    color:#eeeeee;
    text-align:center;
    font-weight:bold;
    font-size:14px;
}
